sf-metadata/force-app/main/default/flows/Update_Became_Dates_for_SO_STAM_etc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <description>Stamps Date_Became_X when the corresponding status field transitions TO Became*, and clears Date_Became_X when it transitions AWAY FROM Became*. Each decision is guarded so changing one status field never affects the dates of the others.</description>
    <decisions>
        <name>Kosher_or_not</name>
        <label>Kosher or not?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Tznius_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Became_Kosher</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Keeps_Kosher_Old__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keeps_Kosher_Old__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Keeps_Kosher_Old__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Keeps_Kosher_Old__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Became_Kosher2</targetReference>
            </connector>
            <label>Became Kosher</label>
        </rules>
        <rules>
            <name>Unbecame_Kosher</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Keeps_Kosher_Old__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keeps_Kosher_Old__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Keeps_Kosher_Old__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Keeps_Kosher_Old__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Kosher</targetReference>
            </connector>
            <label>Unbecame Kosher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marry_Jewish_or_not</name>
        <label>Marry Jewish or not?</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Marry_Jewish</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committed_to_Marry_Jewish__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Committed_to_Marry_Jewish__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Committed_to_Marry_Jewish__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Committed_to_Marry_Jewish__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Became_marry_Jewish</targetReference>
            </connector>
            <label>Marry Jewish</label>
        </rules>
        <rules>
            <name>Unbecame_Marry_Jewish</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committed_to_Marry_Jewish__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Committed_to_Marry_Jewish__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Committed_to_Marry_Jewish__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Committed_to_Marry_Jewish__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Marry_Jewish</targetReference>
            </connector>
            <label>Unbecame Marry Jewish</label>
        </rules>
    </decisions>
    <decisions>
        <name>SO_or_not</name>
        <label>SO or not?</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Marry_Jewish_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Became_SO</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shabbos_Observant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shabbos_Observant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Shabbos_Observant__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Shabbos_Observant__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Became_SO2</targetReference>
            </connector>
            <label>Became SO</label>
        </rules>
        <rules>
            <name>Unbecame_SO</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shabbos_Observant__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shabbos_Observant__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Shabbos_Observant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Shabbos_Observant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_SO</targetReference>
            </connector>
            <label>Unbecame SO</label>
        </rules>
    </decisions>
    <decisions>
        <name>STAM_or_not</name>
        <label>STAM or not?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Kosher_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Became_STAM2</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.STAM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.STAM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.STAM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.STAM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Became_STAM</targetReference>
            </connector>
            <label>Became STAM</label>
        </rules>
        <rules>
            <name>Unbecame_STAM</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.STAM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.STAM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.STAM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.STAM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_STAM</targetReference>
            </connector>
            <label>Unbecame STAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tznius_or_not</name>
        <label>Tznius or not</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>SO_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Became_Tznius</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Keeps_Tzniut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keeps_Tzniut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Keeps_Tzniut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Keeps_Tzniut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Became_tznius2</targetReference>
            </connector>
            <label>Became Tznius</label>
        </rules>
        <rules>
            <name>Unbecame_Tznius</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Keeps_Tzniut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Keeps_Tzniut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Keeps_Tzniut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Keeps_Tzniut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Became after program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Tznius</targetReference>
            </connector>
            <label>Unbecame Tznius</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentYearText</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>Update Became Dates for SO, STAM, etc. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Became Dates for SO, STAM, etc.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Became_Kosher2</name>
        <label>Became Kosher</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Tznius_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Became_Shomer_Kashrus__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Became_marry_Jewish</name>
        <label>Became marry Jewish</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <inputAssignments>
            <field>Date_Became_Committed_to_Marry_Jewish__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Became_SO2</name>
        <label>Became SO</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Marry_Jewish_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Became_SO__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Became_STAM</name>
        <label>Became STAM</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Kosher_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Became_STAM__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Became_tznius2</name>
        <label>Became tznius</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>SO_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Became_Shome_Tznius__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Not_Kosher</name>
        <label>Not Kosher</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Tznius_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Became_Shomer_Kashrus__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Not_Marry_Jewish</name>
        <label>Not Marry Jewish</label>
        <locationX>314</locationX>
        <locationY>1631</locationY>
        <inputAssignments>
            <field>Date_Became_Committed_to_Marry_Jewish__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Not_SO</name>
        <label>Not SO</label>
        <locationX>314</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Marry_Jewish_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Became_SO__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Not_STAM</name>
        <label>Not STAM</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Kosher_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Became_STAM__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Not_Tznius</name>
        <label>Not Tznius</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>SO_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Became_Shome_Tznius__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STAM_or_not</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Committed_to_Marry_Jewish__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shabbos_Observant__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>STAM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Keeps_Kosher_Old__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Keeps_Tzniut__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
